<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-http="http://www.springframework.org/schema/integration/http"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/integration
       http://www.springframework.org/schema/integration/spring-integration.xsd
       http://www.springframework.org/schema/integration/http
       http://www.springframework.org/schema/integration/http/spring-integration-http-5.2.xsd">

    <int:channel id="inputChannel"/>

    <int:channel id="upperCaseChannel"/>

    <int:publish-subscribe-channel id="outputChannel"/>

    <int:transformer id="uppercaseTransformer" ref="transformer" input-channel="inputChannel"
                     method="upperCase" output-channel="upperCaseChannel"/>

    <int:service-activator input-channel="upperCaseChannel" ref="helloService" method="sayHello"
                           output-channel="outputChannel"/>

    <int:service-activator input-channel="outputChannel" ref="printerService"/>

    <int:channel id="httpChannel"/>

    <int-http:inbound-gateway id="inbound.gateway"
            request-channel="httpChannel"
            reply-channel="outputChannel"
            path="/resources/{path}"
            supported-methods="GET, POST">
        <int-http:header name="path" expression="#pathVariables.path"/>
        <int-http:header name="httpMethod" expression="method"/>
    </int-http:inbound-gateway>

    <int-http:outbound-gateway id="outbound.gateway"
                               request-channel="httpChannel" url="http://localhost:9090/{path}"
                               http-method-expression="headers.httpMethod" reply-channel="outputChannel"
                               expected-response-type="java.lang.String" rest-template="restTemplate">
        <int-http:uri-variable name="path" expression="headers.path"/>
    </int-http:outbound-gateway>


</beans>